body
{
    background-color:#FFB6C1;
    border-style: groove;
}
h1
{
    font-size: 40px;
    font-weight: bolder;
    color: navy;
}
h3
{
    font-size: 30px;
    color:rgb(76, 16, 132);
}
div
{
    background-color:rgb(169, 238, 215);
}
table
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    margin: 25px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
tr
{
    background-color: rgb(200, 211, 248);
    text-align: left;
    font-weight: bold;
    padding: 10px 10px;
    border: 1px solid black;
}
th, td
{
    padding: 12px 15px;
    border: 1px solid black;
}
p
{
    background-color: rgb(243, 243, 81);
    font-size: large;
    font-weight: bold;
    max-width: 200px;
}